# Maria Micaela Ninni - GEOL542
## September 16th, 2021
## Module 4

## Python Lists

In [18]:
odds = [1, 3, 5, 7]
print('odds are:', odds)
print('first element:', odds[0])
print('last element:', odds[3])
print('"-1" element:', odds[-1])

odds are: [1, 3, 5, 7]
first element: 1
last element: 7
"-1" element: 7

In [19]:
names = ['Curie', 'Darwing', 'Turing']  # typo in Darwin's name
print('names is originally:', names)

names[1] = 'Darwin'  # correct the name
print('final value of names:', names)

names is originally: ['Curie', 'Darwing', 'Turing']
final value of names: ['Curie', 'Darwin', 'Turing']

## Changes

In [20]:
salsa = ['peppers', 'onions', 'cilantro', 'tomatoes']
my_salsa = salsa        # <-- my_salsa and salsa point to the *same* list data in memory
salsa[0] = 'hot peppers'
print('Ingredients in my salsa:', my_salsa)

salsa = ['peppers', 'onions', 'cilantro', 'tomatoes']
my_salsa = list(salsa)        # <-- makes a *copy* of the list
salsa[0] = 'hot peppers'
print('Ingredients in my salsa:', my_salsa)

Ingredients in my salsa: ['hot peppers', 'onions', 'cilantro', 'tomatoes']
Ingredients in my salsa: ['peppers', 'onions', 'cilantro', 'tomatoes']

## Nested Lists

In [21]:
x = [['pepper', 'zucchini', 'onion'],
     ['cabbage', 'lettuce', 'garlic'],
     ['apple', 'pear', 'banana']]

print('first row', x[0])
print(' first element', x[0][0])

first row ['pepper', 'zucchini', 'onion']
 first element pepper

In [22]:
sample_ages = [10, 12.5, 'Unknown']
odds.append(11)
print('odds after adding a value:', odds)

removed_element = odds.pop(0)
print('odds after removing the first element:', odds)
print('removed_element:', removed_element)

odds.reverse()
print('odds after reversing:', odds)

primes = odds
primes.append(2)
print('primes:', primes)
print('odds:', odds)

odds after adding a value: [1, 3, 5, 7, 11]
odds after removing the first element: [3, 5, 7, 11]
removed_element: 1
odds after reversing: [11, 7, 5, 3]
primes: [11, 7, 5, 3, 2]
odds: [11, 7, 5, 3, 2]

In [23]:
binomial_name = 'Drosophila melanogaster'
group = binomial_name[0:10]
print('group:', group)

species = binomial_name[11:23]
print('species:', species)

chromosomes = ['X', 'Y', '2', '3', '4']
autosomes = chromosomes[2:5]
print('autosomes:', autosomes)

last = chromosomes[-1]
print('last:', last)

group: Drosophila
species: melanogaster
autosomes: ['2', '3', '4']
last: 4

## Exercise 1

In [41]:
SS = 'Observation date: 02-Feb-2013'
LS = [['fluorine', 'F'],
                    ['chlorine', 'Cl'],
                    ['bromine', 'Br'],
                    ['iodine', 'I'],
                    ['astatine', 'At']]

SSS = SS[-4:]
LSS = LS[-4:]

print('Original string = ', SS, '; Sliced string =', SSS)
print('Original list = ', LS, '; Sliced list', LSS)

Original string =  Observation date: 02-Feb-2013 ; Sliced string = 2013
Original list =  [['fluorine', 'F'], ['chlorine', 'Cl'], ['bromine', 'Br'], ['iodine', 'I'], ['astatine', 'At']] ; Sliced list [['chlorine', 'Cl'], ['bromine', 'Br'], ['iodine', 'I'], ['astatine', 'At']]

In [25]:
primes = [2, 3, 5, 7, 11, 13, 17, 19, 23, 29, 31, 37]
subset1 = primes[0:12:3]
print('subset1', subset1)

subset2 = primes[2:12:3]
print('subset2', subset2)

subset1 [2, 7, 17, 29]
subset2 [5, 13, 23, 37]

In [26]:
beatles = "In an octopus's garden in the shade"

print('beatles[0:35:2] =', beatles[0:35:2])

beatles[0:35:2] = I notpssgre ntesae

In [27]:
date = 'Monday 4 January 2016'
day = date[0:6]
print('Using 0 to begin range:', day)

day = date[:6]
print('Omitting beginning index:', day)

months = ['jan', 'feb', 'mar', 'apr', 'may', 'jun', 'jul', 'aug', 'sep', 'oct', 'nov', 'dec']
M1 = months[8:12]
print('With known last position:', M1)

M2 = months[8:len(months)]
print('Using len() to get last entry:', M2)

M3 = months[8:]
print('Omitting ending index:', M3)

Using 0 to begin range: Monday
Omitting beginning index: Monday
With known last position: ['sep', 'oct', 'nov', 'dec']
Using len() to get last entry: ['sep', 'oct', 'nov', 'dec']
Omitting ending index: ['sep', 'oct', 'nov', 'dec']

## Exercise 2

In [42]:
num = [2, 4, 6, 8, 10]
double = num * 2
print(double)

[2, 4, 6, 8, 10, 2, 4, 6, 8, 10]

# Module 5

In [29]:
odds = [1, 3, 5, 7]

print(odds[0])
print(odds[1])
print(odds[2])
print(odds[3])

for num in odds:
    print(num)

1
3
5
7
1
3
5
7

In [30]:
length = 0
names = ['Curie', 'Darwin', 'Turing']
for value in names:
    length = length + 1
print('There are', length, 'names in the list.')

There are 3 names in the list.

In [31]:
name = 'Rosalind'
for name in ['Curie', 'Darwin', 'Turing']:
    print(name)
print('after the loop, name is', name)

Curie
Darwin
Turing
after the loop, name is Turing

# Exercise 3

In [32]:
for number in range(1, 4):
    print(number)

1
2
3

In [ ]:
word = 'oxygen'
for char in word:
    print(char)

In [35]:
z = 5 ** 3


result = 1
for number in range(0, 3):
    result = result * 5


if result == z:
    print('option1', z, 'option2', result, 'It works!')

option1 125 option2 125 It works!

In [37]:
# Sum loop

list = [124, 402, 36]
start = 0

for num in list:
    start = start + num
print('final sum =', start)

final sum = 562

In [52]:
x = 5
coefs = [2, 4, 3]
y = coefs[0] * x**0 + coefs[1] * x**1 + coefs[2] * x**2

yloop = 0
for idx, coef in enumerate(coefs):
    yloop = yloop + coef * x**idx
print('Loop answer =', yloop, '; Long version answer =', y, 'If equal = loop works!')

Loop answer = 97 ; Long version answer = 97 If equal = loop works!